@import "tailwindcss";

/* Esto mapea el color personalizado para que las clases 'text-movi-blue' funcionen */
@theme {
  --color-movi-blue: #1e88e5;
}
// DarkMode Taildwind
@variant dark (&:where(.dark, .dark *));
body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}

/* Forzar que el icono de Material se vea bien */
.material-icons-outlined {
  vertical-align: middle;
  line-height: 1;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}